/web-app/node_modules
/web-app/public/build
/web-app/public/hot
/web-app/public/storage
/web-app/storage/*.key
/web-app/vendor
/web-app/.env
/web-app/.env.backup
/web-app/.env.production
/web-app/.phpunit.result.cache
/web-app/Homestead.json
/web-app/Homestead.yaml
/web-app/auth.json
/web-app/npm-debug.log
/web-app/yarn-error.log
/web-app/.fleet
/web-app/.idea
/web-app/.vscode
*.terraform
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
*terraform.tfstate.backup
*terraform.tfstate